<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a827783ff8.js" crossorigin="anonymous"></script>
  <head bgcolor="skyblue">
</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.0-beta1/dist/js/bootstrap.bundle.min.js"
cintegrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
    
  <!-- navbar starts -->
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>



      </div>
    </div>
  </nav>
  <!-- navbar ends -->

 

  <center>
    <div class="col-md-6 mb-4" style="margin-top: 20px;">

     <!-- image starts -->
    <Img src="../assets/img/Pic.jpg">
      <Font color="Black">
       <H5 Style="Color=Black"><I>Luffy</I></H5>
      <!-- image ends -->

    </div>

    <!-- logo starts -->
    <div class="col d-flex justify-content-center">
      <div class="social-media">
        <p class="mb-0 d-flex">
          <a target="_blank" href="#" class="d-flex align-items-center justify-content-center"><span
              class="fa fa-instagram"><i class="sr-only" style="padding-right: 10px;">Instagram</i></span></a>
          <a target="_blank" href="#" class="d-flex align-items-center justify-content-center"><span
              class="fa fa-facebook"><i class="sr-only">facebook</i></span></a>
          <!-- logo ends -->

        </p>
      </div>
    </div>
    </div>
    </div>
  </center>
  <h2>Academic achievements</h2>

  <div class="card-group" style="margin-top: 3rem;">

    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body" style="background-color: #FF3933;">
        <h5 class="card-title">BLE</h5>
        <p class="card-text">
          Year:2077<br>
          GPA:A<br>
          School:Joseph High School<br>
          location:kapan milanchowk
        </p>

      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body" style="background-color:  #ffff00;">
        <h5 class="card-title">SEE</h5>
        <p class="card-text">
          Year:2079<br>
          GPA:----<br>
          School:Joseph High School<br>
          location:kapan milanchowk
          
        </p>

      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body" style="background-color: #9900ff;>
        <h5 class="card-title">Computer Course</h5>
        <p class="card-text">
          Year:2079
          Institution:kathalaya
          location:chabel,KL Tower
          contact:--------
        </p>

      </div>
    </div>
  </div>

  <I><!-- about me -->


  <div class="aboutme" style="margin-top: 5rem; background-color: beige;">
    <h2 style="text-align: center;"ID="About">About me</h2>


     <B>Essays-Paragraphs-Speech
 
10 Excellent Essays on Myself | My Self Essays For Children & Students
44 Comments

Writing an essay or Paragraph about Myself is the important part of our school exam, college, university or even during professional exams. Writing an Essay to Describe Myself is essential for school, college exams or tests. Read 10 Best written Essays on My self topic for Children & Students with quotes & images


You are needed to write about yourself that describes you in best words. As it is said that practice makes the perfect. Once you have read and written about yourself a dozen or so times you become able to know what to write and what not to write about yourself. Writing an Essay on About Myself or Yourself is one of the most interesting and easiest job provided you know its basics.


As, everyone has got a different set of qualities, when you are writing an essay about yourself, you are supposed to write what you are in most interesting, engaging and creative manner. While you write you think about yourself and you know yourself better regarding your qualities and capabilities. This will increase your self awareness and interest apart from keeping you engaged without getting bored.


 
Read 10 Best Myself Essays  with introduction, outline, quotes for KG, primary, high school and college students. Additionally, 10 Lines & More sentences on Myself and other myself essays for 1,2,3,4,5,6,7,8,9,10 Class students and Myself essays for scholarship, job interview and personality test. In addition to that, you may also like to read our newly written Guide Who Am I Essays for High School & College Students


 
Essays on Myself | Myself Writing, Essays & Paragraphs with Quotes | For Primary, High School & College Level Students
Essay Contents [show]


 
Writing a myself essay to describe you for your school, college, scholarship test or even for you interview introduction may seem easy at look. But whenever, you take up the pen you may often find yourself surrounded by the questions like what I myself am? what to write and how to write about yourself?


 
As it is said, practice makes the man perfect. So, practice yourself by reading sample myself essays, write yourself in few words like 200,500,1000 words about yourself. In this way, you will be able to express fully about your personality, your interests and your future goals.


 
Long Essay on Myself For College Level Students
Among all the creatures on Earth, human being is definitely superior. Writing a few lines or words about myself to introduce, I feel myself to be tiny part of this entire world that is filled with the human beings around. I am a human. I myself am humble, kind, caring and courageous. I am most respected, loved and responsible human being. Though, it is quite hard to write about yourself yet I have tried myself best to express all about myself.


 
Hailing from a working class family, I am Rajesh. I am simple, sweet, confident and cunning fellow. My father is a renowned doctor who knows how to love his profession with passion and dedication. While my mother is a hardworking teacher at city public school whose only passion is to transform the lives of her students with knowledge and a good vision.</B>

  </div>
  <!-- about me end --></I>


  <!-- form starts -->
  <!-- Contact Form -->
  <div class="container">


    <h2>Contact Me</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="well well-sm">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                </div>
                <div class="form-group">
                  <label for="email"> Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <select id="subject" name="subject" class="form-control" required="required">
                    <option value="na" selected="">Choose One:</option>
                    <option value="service">Job Offer</option>
                    <option value="suggestions">Suggestions</option>
                    <option value="product">Scholarship</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                    placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <form>
          <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
          <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
          </address>
          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">Luffy@gmail.com</a>
          </address>
        </form>
      </div>
    </div>
  </div>
  <!-- form ends -->
  <div class="container my-5">

      <footer class="text-center text-lg-start" style="background-color: #301934 ;">


        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2); margin-top: 4rem;">
          © 2020 Copyright:
          <a class="text-white" href="index.htm"><span style="font-family: 'Righteous', cursive; font-size: 2rem;">Arigato</span></a>
        </div>
        <!-- Copyright -->
      </footer>

    </div>





</body>

</html>